<figure class="text-center">
  <blockquote class="blockquote">
    <p>Welcome to EventCalendar.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Application who can <cite title="Source Title"> manage your events...</cite>
  </figcaption>
</figure>

<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover"
title="Popover title" data-bs-content="And here's some amazing content.
It's very engaging. Right?">Click to toggle popover</button>

<button type="button" class="btn btn-secondary" data-bs-container="body"
data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
  Popover on top
</button>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="It's free :))">
  Register
</button>
