<figure class="text-center py-5">
  <blockquote class="blockquote">
    <p>Welcome to EventCalendar.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Application who can <cite title="Source Title"> manage your events...</cite>
  </figcaption>
</figure>
